<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean class="com.sp2.demo.ChildInhert" id ="spring">
<property name="property"><value>car</value></property>
<property name="money"><value>5000</value></property>
<property name="badhabbits"><value>drinking</value></property>
<property name="goodhabbits"><value>sleeping</value></property>
</bean>
</beans>   